<app-content-header>
  <h2 pageTitle class="page-title app-main-color font-weight-bold text-uppercase">employees</h2>
  <button btn mat-icon-button class="add-emp-btn app-main-color mt-2 mr-2">
    <i class="material-icons">add_circle</i></button>
</app-content-header>
<div class="employees-container row overflow-scroll ">
  <div class="col-lg-6 col-md-6 col-sm-12 px-4" *ngFor="let employee of employeesToShow">
    <app-employee class="mx-3" [employee]="employee"
      [departmentName]="employeeService.getDepartmentName(employee.departmentID)"
      [sectorName]="employeeService.getSectorNameByID(employee.sectorID)">
    </app-employee>
  </div>
</div>
<div class="w-100 d-flex justify-content-center mt-3">
  <app-paginator #paginator [items]=employees (changePage)="pageChanged($event)"></app-paginator>
</div>
