<app-content-header>
  <h2 pageTitle class="page-title app-main-color font-weight-bold text-uppercase mt-1">
    {{active?'employees':'archived &nbsp; employees'}}</h2>
  <div btn class="mt-2 mr-3">
    <button *ngIf="active" mat-icon-button class="add-emp-btn app-main-color" title="Add Employee">
      <i class="material-icons">add_circle</i>
    </button>
    <button mat-icon-button class="add-emp-btn app-main-color ml-1"
      (click)="active?onNavigateToArchivedEmployees():onNavigateToActiveEmployees()"
      title="{{active?'Show archived Employees':'Back to Employees'}}">
      <i class="material-icons">{{active?'archive':'arrow_back'}}</i>
    </button>
  </div>
</app-content-header>
<div class="employees-container row overflow-scroll ">
  <div class="col-lg-6 col-md-6 col-sm-12 px-4" *ngFor="let employee of employeesToShow">
    <app-employee class="mx-3 hover-shadow cursor-pointer" (click)="showEmployee(employee)"
      (employeeStateChange)="employeeStateChanged($event)" [employee]="employee"
      [departmentName]="employeeService.getDepartmentName(employee.departmentID)"
      [sectorName]="employeeService.getSectorNameByID(employee.sectorID)" [activePage]="active">
    </app-employee>
  </div>
</div>
<div class="w-100 d-flex justify-content-center mt-3">
  <app-paginator #paginator [items]="employees" (changePage)="pageChanged($event)"></app-paginator>
</div>
