<div class="emp-content-box">
  <button class="edit-btn"><i class="material-icons app-secondary-color">edit</i></button>
  <button class="edit-btn"><i class="material-icons app-secondary-color">archive</i></button>
  <div class="emp-details">
    <div class="app-bg-secondary emp-id">
      <!-- <img class="emp-pic" src="imgs/00.PNG"> -->
    </div>
    <div class="emp-info">
      <span class="emp-name">{{employee.name}}</span>
      <span>ID: <span class="employee-data">{{employee.ID}}</span> </span>
      <span>Department: <span class="employee-data">{{departmentName}}</span> </span>
      <span>Sector: <span class="employee-data">{{sectorName}}</span> </span>
    </div>
  </div>
</div>
