<mat-card class="employee-container d-flex flex-column p-0 hover-shadow"
  matTooltip="{{'Show and edit &nbsp;`' + (employee.name |uppercase) +'`&nbsp; details'}}" matTooltipPosition="above"
  matTooltipShowDelay="600" [matTooltipDisabled]="btnHover">
  <div class="action-container">
    <button *ngIf="activePage" class="btn remove-button-styling mx-2" (click)="onEditEmployee()"
      matTooltip="Edit Details" matTooltipShowDelay="350" (mouseenter)="btnHover=true" (mouseleave)="btnHover=false">
      <i class="material-icons app-secondary-color font-smaller">edit</i></button>
    <button *ngIf="activePage" class="btn remove-button-styling mx-2" (click)="onArchive()"
      matTooltip="{{'Archive `' + employee.name + '`' }}" matTooltipShowDelay="350" (mouseenter)="btnHover=true"
      (mouseleave)="btnHover=false"><i class="material-icons app-secondary-color font-smaller">archive</i></button>
    <button *ngIf="!activePage" class="btn remove-button-styling mx-2" (click)="onUnarchive()"
      matTooltip="{{'Unarchive `' + employee.name + '`' }}" matTooltipShowDelay="350" (mouseenter)="btnHover=true"
      (mouseleave)="btnHover=false"><i class="material-icons app-secondary-color">unarchive</i></button>
  </div>
  <mat-card-content class="d-flex align-content-center mt-2">
    <div class="app-bg-secondary emp-id rounded-circle overflow-hidden mx-3 mt-2">
      <!-- <img class="emp-pic" src="imgs/00.PNG"> -->
    </div>
    <div class="emp-info d-felx flex-column app-secondary-color text-capitalize mb-2">
      <p class="emp-name my-1 font-weight-bold">{{employee.name}}</p>
      <span class="text-muted">ID: &nbsp;<span class="employee-data">{{employee.ID}}</span> </span>
      <span class="text-muted">Department: &nbsp;<span class="employee-data">{{departmentName}}</span>
      </span>
      <span class="text-muted">Sector: &nbsp;<span class="employee-data">{{sectorName}}</span> </span>
    </div>
  </mat-card-content>
</mat-card>
