.employee-container {
  min-width: 300px !important;
  position: relative;
}

.action-container {
  position: absolute;
  top: 5px;
  right: 5px;
}

.btn:hover i {
  color: #ac99b2;
}

.emp-details {
  display: flex;
  flex-direction: row;
  justify-self: space-between;
  height: 100%;
}

.emp-id {
  width: 85px;
  height: 85px;
}

.emp-content-box p {
  margin: 3px;
  font-size: 12px;
  color: gray
}

.emp-name {
  font-size: 16px;
  color: #434343;
  font-family: 'Noto Sans SC', sans-serif;
  word-spacing: 4px;
}

.emp-info {
  margin-left: 1rem;
  margin-top: 12px;
}

.emp-info>* {
  display: block;
}

.employee-data {
  color: #434343;
}
