<div class="page-content-header d-flex flex-row justify-content-between w-100">
  <div class="title ml-3">
    <h3 class="main-color">Absences</h3>
  </div>
  <div class="search-box d-flex align-content-center rounded-lg">
    <input class="main-color search-field" type="search" placeholder="search for something...">
    <button class="search-btn d-flex center remove-button-styling"><i
        class="material-icons main-color">search</i></button>
  </div>
  <div><span>&nbsp;</span></div>
</div>
