<app-content-header>
  <h2 pageTitle class="page-title app-main-color font-weight-bold text-uppercase">
    {{employee?((employee?.name)+" 's &nbsp; Details"):"Loading"}}</h2>
    <button btn mat-icon-button class="back-btn app-main-color mr-3"
      (click)="onNavigateToActiveOrAchivedEmployeesPage()"
      matTooltip="{{employee.active?'Back to Employees':'Back to archived Employees'}}" matTooltipShowDelay="350">
    <i class="material-icons">arrow_back</i>
  </button>
</app-content-header>
<form *ngIf="employee" (ngSubmit)="onUpdateEmployee()" #employeeForm="ngForm"
  class="details-box d-flex flex-column rounded">

  <div class="row">
    <div class="d-flex align-content-center col-6">
      <div class="app-bg-secondary employee-pic rounded-circle">
        <!-- <img class="employee-pic" src="imgs/00.PNG"> -->
      </div>
      <div class="emp-name">
        <mat-form-field appearance="legacy" hideRequiredMarker>
          <input [disabled]="!editable" matInput type="text" [ngModel]="employee.name  | titlecase" name="name" required
            width="15px">
        </mat-form-field>
      </div>
    </div>
    <div class="d-flex flex-row-reverse col-6 align-items-center">
      <button mat-icon-button class="attendances-btn  mr-5" type="button" (click)="onViewAttendances()"
        matTooltip="Show Attendances" matTooltipShowDelay="200">
        <mat-icon class=" app-main-color">date_range</mat-icon>
      </button>
      <button *ngIf="!editable" mat-icon-button class="edit-btn  mr-3" type="button" matTooltip="Enable Edit"
        matTooltipShowDelay="200" (click)="onEditEmployee()">
        <mat-icon class="app-main-color">edit</mat-icon>
      </button>
    </div>

  </div>

  <div class="row details-container">
    <!-- beginning of the all personal section  -->
    <div class="mx-0  col-lg-6 col-md-6 col-sm-12 all-personal-container">
      <div class="all-personal d-flex justify-content-center flex-column mx-5">
        <table class="main-color att-val my-2">
          <tr class="">
            <th class="app-bg-secondary att">ID:</th>
            <th class="val">
              <p name="id" [textContent]="employeeID" class="emp-id"></p>
            </th>
          </tr>
          <tr class="">
            <th class="app-bg-secondary att">Rating:</th>
            <th class="val">
              <mat-form-field appearance="legacy" class="mx-3" hideRequiredMarker>
                <input [disabled]="!editable" matInput type="number" min="0" max="10" step="0.05"
                  [ngModel]="employee.rating" name="rating" required>
              </mat-form-field>
            </th>
          </tr>
          <tr>
            <th class="app-bg-secondary att">Deparatment:</th>
            <th class="val">
              <mat-form-field appearance="legacy" class="mx-3" hideRequiredMarker>
                <mat-select [disabled]="!editable" [ngModel]="employee.departmentID" name="departmentID" required
                  (selectionChange)="onDepartmentChange()">
                  <mat-option *ngFor="let depatrment of departments" [value]="depatrment.ID">
                    {{depatrment.name | titlecase}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </th>
          </tr>
          <tr>
            <th class="app-bg-secondary att">Sector:</th>
            <th class="val">
              <mat-form-field appearance="legacy" class="mx-3" hideRequiredMarker>
                <mat-select [disabled]="!editable" [ngModel]="employee.sectorID" name="sectorID" required>
                  <mat-option *ngFor="let sector of sectors" [value]="sector.ID">
                    {{sector.name | titlecase}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </th>
          </tr>
          <tr>
            <th class="app-bg-secondary att">Base Pay:</th>
            <th class="val">
              <mat-form-field appearance="legacy" class="mx-3" hideRequiredMarker>
                <input [disabled]="!editable" matInput type="number" min="250" step="10"
                  [ngModel]="salary?.amount?salary.amount:null"
                  name="salary" required>
              </mat-form-field>
            </th>
          </tr>
          <tr *ngIf="showMore">
            <th class="app-bg-secondary att">Phone Number:</th>
            <th class="val">
              <mat-form-field appearance="legacy" class="mx-3" hideRequiredMarker>
                <input [disabled]="!editable" matInput type="text" [ngModel]="employee.telNumber" name="telNumber"
                  required>
              </mat-form-field>
            </th>
          </tr>
          <tr *ngIf="showMore">
            <th class="app-bg-secondary att">Status:</th>
            <th class="val">
              <mat-form-field appearance="legacy" class="mx-3" hideRequiredMarker>
                <mat-select [disabled]="!editable" [ngModel]="employee.status" name="status" required>
                  <mat-option *ngFor="let status of statuses" [value]="status">
                    {{status | titlecase}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </th>
          </tr>
          <tr *ngIf="showMore">
            <th class="app-bg-secondary att">HR Manager:</th>
            <th class="val">
              <mat-form-field appearance="legacy" class="mx-3" hideRequiredMarker>
                <mat-select [disabled]="!editable" [ngModel]="employee.HRID" name="HRID" required>
                  <mat-option *ngFor="let HR of HRs" [value]="HR.HRID">
                    {{HR.userName | titlecase}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </th>
          </tr>
          <tr *ngIf="showMore">
            <th class="app-bg-secondary att">Email:</th>
            <th class="val">
              <mat-form-field appearance="legacy" class="mx-3" hideRequiredMarker>
                <input [disabled]="!editable" matInput type="email" [ngModel]="employee.email" name="email" email
                  required>
              </mat-form-field>
            </th>
          </tr>
          <tr *ngIf="showMore">
            <th class="app-bg-secondary att">Address:</th>
            <th class="val">
              <mat-form-field appearance="legacy" class="mx-3" hideRequiredMarker>
                <input [disabled]="!editable" matInput type="text" [ngModel]="employee.address" name="address" required>
              </mat-form-field>
            </th>
          </tr>
          <tr *ngIf="showMore">
            <th class="app-bg-secondary att">SSN:</th>
            <th class="val">
              <mat-form-field appearance="legacy" class="mx-3" hideRequiredMarker>
                <input [disabled]="!editable" matInput type="text" [ngModel]="employee.SSN" name="SSN" required>
              </mat-form-field>
            </th>
          </tr>
          <tr *ngIf="showMore">
            <th class="app-bg-secondary att">Nationality:</th>
            <th class="val">
              <mat-form-field appearance="legacy" class="mx-3" hideRequiredMarker>
                <mat-select [disabled]="!editable" [ngModel]="employee.nationality" name="nationality" required>
                  <mat-option *ngFor="let nationality of nationalities" [value]="nationality">
                    {{nationality | titlecase}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </th>
          </tr>
          <tr *ngIf="showMore">
            <th class="app-bg-secondary att">National ID:</th>
            <th class="val">
              <mat-form-field appearance="legacy" class="mx-3" hideRequiredMarker>
                <input [disabled]="!editable" matInput type="text" [ngModel]="employee.nationalID" name="nationalID"
                  required>
              </mat-form-field>
            </th>
          </tr>
          <tr *ngIf="showMore">
            <th class="app-bg-secondary att">Birth Date:</th>
            <th class="val">
              <mat-form-field appearance="legacy" class="mx-3" hideRequiredMarker>
                <input [disabled]="!editable" matInput [ngModel]="employee.birthDate" name="birthDate" required
                  [matDatepicker]="birthDate">
                <mat-datepicker-toggle [for]="birthDate" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #birthDate></mat-datepicker>
              </mat-form-field>
            </th>
          </tr>
          <tr *ngIf="showMore">
            <th class="app-bg-secondary att">Hire Date:</th>
            <th class="val">
              <mat-form-field appearance="legacy" class="mx-3" hideRequiredMarker>
                <input [disabled]="!editable" matInput [ngModel]="employee.startDate" name="startDate" required
                  [matDatepicker]="startDate" [matDatepickerFilter]="startDateFilter">
                <mat-datepicker-toggle [for]="startDate" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>
              </mat-form-field>
            </th>
          </tr>
          <tr *ngIf="showMore">
            <th class="app-bg-secondary att">Gender:</th>
            <th class="val">
              <mat-form-field appearance="legacy" class="mx-3" hideRequiredMarker>
                <mat-select [disabled]="!editable" [ngModel]="employee.gender" name="gender" required>
                  <mat-option *ngFor="let gender of genders" [value]="gender">
                    {{gender | titlecase}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </th>
          </tr>
          <tr *ngIf="showMore">
            <th class="app-bg-secondary att">Active/Not:</th>
            <th class="val">
              <mat-form-field appearance="legacy" class="mx-3" hideRequiredMarker>
                <mat-select [disabled]="!editable" [ngModel]="employee.active" name="active" required>
                  <mat-option *ngFor="let activeState of actives" [value]="activeState.active">
                    {{activeState.name | titlecase}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </th>
          </tr>
        </table>

        <div class="d-flex center">
          <!-- <button *ngIf="!showMore" mat-raised-button class="show-more app-bg-main text-white" id="show-more"
            type="button" (click)="onShowMore()">expand_more</button> -->
          <button *ngIf="!showMore" mat-mini-fab class="show-more app-bg-main text-white" type="button"
            (click)="onShowMore()">
            <mat-icon>expand_more</mat-icon>
          </button>

          <button *ngIf="showMore && !editable" mat-mini-fab class="show-more app-bg-main text-white" type="button"
            (click)="onShowLess()">
            <mat-icon>expand_less</mat-icon>
          </button>
          <!-- <button *ngIf="showMore && !editable" mat-raised-button class="show-more app-bg-main text-white"
            id="show-more" type="button" (click)="onShowLess()" [disabled]="editable">Show
            Less</button> -->
        </div>
      </div>
      <div *ngIf="editable" class="d-flex center rounded py-2 flex-column update-btn-container">
        <button mat-raised-button class="app-bg-main update-btn text-white" type="submit"
          [disabled]="!(employeeForm.valid && employeeForm.dirty && employeeForm.value.sectorID!==undefined) ">Update</button>
        <p *ngIf="employeeForm.value.sectorID === undefined" class="text-danger">Choose a
          sector</p>
        <p *ngIf="employeeForm.controls.salary.dirty && employeeForm.value.salary<250" class="text-danger">salary
          must be
          above <span class="text-white font-weight-bold"> 249 JD</span></p>
      </div>
    </div>
    <!-- end of the all personal section  -->

    <!-- beginning of the salary log section  -->
    <div class="mx-0 col-lg-6 col-md-6 col-sm-12 salary-log-container">
      <div class="salary-log d-flex flex-column mx-5 justify-content-center">
        <div class="add-raise-container mr-5" align="center">
          <mat-form-field appearance="outline" class="mx-3">
            <mat-label>Raise</mat-label>
            <input matInput type="number" min="5" max="100" step="5" name="add-raise">
          </mat-form-field>
          <button mat-icon-button class="add-raise-btn" type="button" (click)="addRaise()" matTooltip="Add Raise"
            matTooltipShowDelay="200">
            <mat-icon class="app-main-color">add_circle</mat-icon>
          </button>
        </div>
        <table *ngIf="salaryLogs.length !== 0" class="app-main-color month-sal">
          <tr *ngFor="let log of salarLogsToShow">
            <th class="app-bg-secondary month">{{ log.logDate | date : 'yyyy / MMM'}}</th>
            <th class="sal">{{ log.value + ' JD' }}</th>
            <th class="sal">{{ log.bonus? (log.bonus + ' JD' ): 0 }}</th>
          </tr>
        </table>
        <div class="w-100 d-flex justify-content-center mt-3">
          <h1 *ngIf="salaryLogs.length===0" class="text muted">No salary logs to show</h1>
          <app-small-paginator *ngIf="salaryLogs.length!==0" [items]="salaryLogs" (changeSlide)="onChangeSlide($event)"
            class="">
          </app-small-paginator>
        </div>
      </div>
    </div>

    <!-- end of the salary log section  -->

  </div>
</form>
