.add-emp-btn i {
  font-size: 2rem;
}

.page-title {
  letter-spacing: 2px;
}

.employees-container {
  margin-left: 4.5rem;
  margin-right: 4.5rem;

}

.styedown {
  position: absolute;
  bottom: 2%;
}
