/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: #ededf0 !important;
  font-family: 'Noto Sans SC', sans-serif !important;
}

body {
  margin: 0;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
}

.app-main-color {
  color: #43425D;
}

.app-bg-main {
  background-color: #43425D;
}

.app-bg-secondary {
  background-color: #ededf0;
}

.app-secondary-color {
  color: #c2c2c7;
}

.app-3rd-color {
  color: #7c7c83;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-button-styling {
  background: transparent;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.cursor-pointer:hover {
  cursor: pointer !important;
}

.cursor-text:hover {
  cursor: text !important;
}

.cursor-default:hover {
  cursor: default !important;
}

/* .overlay {
  position: fixed;
  background-color: #0000009c;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9;
} */

.hover-shadow:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

button:focus {
  outline: 0px !important;
  outline: none !important;
}

input:focus {
  outline-color: #3b385a99;
}
