<mat-card class="d-flex flex-column justify-content-center cursor-pointer">
  <mat-card-header class="col-12 flex-column">
    <mat-card-title class="app-card-title text-uppercase app-main-color font-smaller">{{department.name}}
    </mat-card-title>
    <span class="text-muted mt-1 mb-4 text-capitalize">
      {{managerName!==''? 'manager: &nbsp; &nbsp;' + managerName:'have no manager yet'}}</span>
  </mat-card-header>
  <mat-card-content class="col-12">
    <p class="text-muted">
      {{department.description}}
    </p>
    <div class="row text-center">
      <div class="dept-details text-wrap col-lg-4 col-md-5 col-sm-6 text-center mt-2 app-main-color rounded-lg"
        (click)="onShowSectors($event ,department.ID)">
        {{ sectors.length }}<span class="d-block app-3rd-color mt-2">Sectors</span>
      </div>
      <div class="col-lg-3 col-md-2"></div>
      <p class="dept-details col-lg-4 col-md-5 col-sm-6 text-center mt-2 app-main-color">
        {{employeesNumber}}<br><span class="d-block app-3rd-color mt-2">Employees</span>
      </p>
    </div>
  </mat-card-content>
  <span mat-card-footer class="app-secondary-color app-card-footer">Click To edit</span>
</mat-card>
