.back-btn i {
  font-size: 2.3em;
}

.details-box {
  font-family: 'Noto Sans SC', sans-serif;
  background-color: #FFF;
  width: 90%;
  height: 514px;
  margin: 5px 55px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.details-box .employee-pic {
  width: 100px;
  height: 98px;
  margin: 15px 20px 0 65px;
}

.emp-name {
  margin-top: 37px;
  margin-left: 21px;
}

.emp-name input {
  font-size: 22px;
}

.edit-btn {
  height: 2rem;
  width: 2rem;
}

.edit-btn mat-icon {
  font-size: 2rem;
}

.attendances-btn {
  height: 2rem;
  width: 2rem;
}

.attendances-btn mat-icon {
  font-size: 2rem;
}

.mat-raised-button {
  min-width: 0 !important;
}


/* end of the headers  */


/* beginning of the info section  */

.details-container {}

.details-box select,
.details-box form,
.details-box input {
  color: #434343;
  font-weight: 500;
}

/* .all-personal {
  font-size: 18px;
} */
.all-personal-container {
  margin-top: 3.3rem;
  overflow-y: scroll;
  height: 355px;
  overflow-x: hidden;
}

/* .salary-log {
  height: 58%;
  overflow-y: scroll;
} */
.emp-id {
  font-size: 16px;
}

.details-box .all-personal .att-val,
.details-box .salary-log .month-sal {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  /* border: 3px solid #FFF */
}

.details-box .att-val .att,
.details-box .att-val .val,
.details-box .salary-log .month-sal .month,
.details-box .salary-log .month-sal .sal {
  height: 37px;
  border: 4px solid #FFF;
}

.details-box .att-val .val,
.details-box .salary-log .month-sal .sal {
  border-bottom: 1px solid #E7E7E7;
  color: #434343
}

.show-more {
  width: 26px;
  height: 26px;
  background-color: #43425D !important;
}

.show-more mat-icon {
  margin-top: -11px;
}

.details-box .att-val .att,
.details-box .salary-log .month-sal .month {
  color: gray
}

.details-box .salary-log,
.details-box .all-personal {
  margin: 0 100px
}

.add-raise-btn mat-icon {
  font-size: 2rem;
}

.add-raise-container {
  font-size: 11px;
}

.update-btn {
  width: 7rem;
}

.update-btn-container {
  background-color: #61506de8;
  position: sticky;
  width: 103%;
  bottom: 7px;
}
