<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar (mouseenter)="onMouseenterName()" (mouseleave)="onMouseleaveName()" class="navbar__title"> <img #logo
        [src]="logoImgSrc" class="mt-1" alt="logo">
      MPLOYÈRA</mat-toolbar>
    <mat-nav-list class="items-list">
      <a mat-list-item class="items-list__item" routerLink="./home" routerLinkActive="active-tab"><span
          class="material-icons text-center items-list__icon">
          home
        </span>&nbsp; Home</a>
      <a mat-list-item class="items-list__item" routerLink="./employees" routerLinkActive="active-tab"><span
          class="material-icons text-center items-list__icon">
          supervised_user_circle
        </span>&nbsp; Employees</a>
      <a mat-list-item class="items-list__item" routerLink="./departments" routerLinkActive="active-tab"><span
          class="material-icons text-center items-list__icon">
          apartment
        </span>&nbsp; Departments</a>
      <a mat-list-item class="items-list__item" routerLink="./absences" routerLinkActive="active-tab"><span
          class="material-icons text-center items-list__icon">
          pending_actions
        </span>&nbsp; Absences</a>
      <a mat-list-item class="items-list__item" routerLink="./statistics" routerLinkActive="active-tab"><i
          class="material-icons text-center items-list__icon">
          bar_chart
        </i>&nbsp; Statistics</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="app-bg-secondary">
    <mat-toolbar color="" class="bg-white app-main-color d-flex justify-content-between">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span *ngIf="!(isHandset$ | async)">&nbsp; </span>
      <app-hr-details class=""></app-hr-details>
    </mat-toolbar>
    <!-- content here -->
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
