<div class="page-content-header d-flex flex-row justify-content-between align-content-center w-100">
  <div class="title ml-3">
    <ng-content select="[pageTitle]"></ng-content>
  </div>
  <div class="search-box d-flex align-content-center rounded-lg">
    <input class="app-main-color search-field" type="search" placeholder="Search for something...">
    <button class="search-btn d-flex center remove-button-styling"><i
        class="material-icons app-main-color">search</i></button>
  </div>
  <div>
    <ng-content select="[btn]"></ng-content>
  </div>

</div>
